.App-speech {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 140px;
}

.App-speech__content-speech {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.Content-speech {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.Content-speech img {
  width: 100%;
}

.Cronometer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  background: rgb(27, 27, 69);
  border-radius: 12px;
  padding: 8px;
  width: 230px;
  color: white;
  top: 0;
  right: 0;
}

.Cronometer p {
  font-size: 25px;
}

.Cronometer h1 {
  padding: 0;
  margin: 0;
}

.Content-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.Content-btn button {
  width: 100px;
  height: 35px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.Content-btn button:nth-child(1) {
  background: green;
  color: white;
  font-weight: 900;
}

.Content-btn button:nth-child(2) {
  background: red;
  color: white;
  font-weight: 900;
}